.wrapper {
  padding: 0;
  margin: 0 auto 0 auto;
  max-width: 375px;
}

.banner__block {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  background: url('../../assets/background-full/4.png');
}

.banner-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.banner-footer__block {
  display: flex;
  flex-direction: column;
}

.banner-footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}